 body {
   margin: 15px;
   background-color: #1b1b1b;
   color: white;
   font-family: Muli, sans-serif;
   font-size: 16px;
 }

 h1 {
   font-family: "Space Mono", monospace;
   font-size: 46px;
 }

 .author_text {
   font-family: "Space Mono", monospace;
   font-size: 46px;
   padding-left: 5%;
 }


 /* Unvisited link */
 a:link {
   color: lightgreen;
   text-decoration: none;
 }

 a:visited {
   color: green;
   text-decoration: none;
 }

 a:hover {
   color: green;
   text-decoration: underline;
 }

 a:active {
   color: darkgreen;
   text-decoration: underline;
 }

 .home {
   border: 1px solid black;
   background-color: #050504;
   overflow: auto;
   display: flex;
   flex-wrap: wrap;
 }

 .half {
   flex-basis: 100%;
 }

 @media screen and (min-width: 1200px) {
   .half {
     flex-basis: 50%;
   }
 }

 .author_picture {
   max-width: 400px;
   height: auto;
   padding: 10px;
 }

 img {
   display: block;
   margin: auto;
 }


 .form {
   background-color: #050504;
   background-size: 100px;
   border-radius: 25px;
   padding: 10px;
   margin: 10px;
 }

 #fullname,
 #phoneNumber,
 #fremail,
 #subject,
 #message {
   width: 90%;
 }

 .menu_container {
   overflow: hidden;
   background-color: #343434;
   position: relative;
 }

 .menu_container #myLinks {
   display: none;
 }

 .menu_container a {
   color: white;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
   display: block;
 }

 .menu_container a.icon {
   background: black;
   display: block;
   position: absolute;
   right: 0;
   top: 0;
 }

 .menu_container a:hover {
   background-color: #ddd;
   color: black;
 }

 .active {
   background-color: #212020;
 }

 footer {
   text-align: center;
   margin: 25px;
 }

 * {
   box-sizing: border-box;
 }

 /* Add padding to containers */
 .container {
   padding: 16px;
   background-color: white;
   color: black;
 }

 /* Full-width input fields */
 input[type=text],
 input[type=email],
 input[type=password] {
   width: 100%;
   padding: 15px;
   margin: 5px 0 22px 0;
   display: inline-block;
   border: none;
   background: #f1f1f1;
 }

 #message {
   width: 90%;
   padding: 15px;
 }

 input[type=text]:focus,
 input[type=email]:focus,
 input[type=password]:focus {
   background-color: #ddd;
   outline: none;
 }

 #message:focus {
   background-color: #ddd;
   outline: none;
 }

 /* Overwrite default styles of hr */
 hr {
   border: 1px solid #f1f1f1;
   margin-bottom: 25px;
 }

 /* Set a style for the submit button */
 .btn {
   background-color: #04AA6D;
   color: white;
   padding: 16px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 100%;
   opacity: 0.9;
 }

 .btn:hover {
   opacity: 1;
 }

 /* Add a blue text color to links */
 a {
   color: dodgerblue;
 }

 /* Set a grey background color and center the text of the "sign in" section */
 .signin {
   background-color: #f1f1f1;
   text-align: center;
 }

 .imgcontainer {
   text-align: center;
   margin: 24px 0 12px 0;
   width: 30%;
   margin: auto;
 }

 img.avatar {
   width: 50%;
   border-radius: 50%;
 }

 .content {
   text-align: center;
   /* margin: auto; */
 }

 .error {
   width: 92%;
   margin: 0px auto;
   padding: 10px;
   border: 1px solid #a94442;
   color: #a94442;
   background: #f2dede;
   border-radius: 5px;
   text-align: center;
 }

 .success {
  color: #3c763d;
  background: #dff9d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
 }