 body {
   margin: 15px;
   background-color: #1b1b1b;
   color: white;
   font-family: Muli, sans-serif;
   font-size: 16px;
 }

 h1 {
   font-family: "Space Mono", monospace;
   font-size: 46px;
 }

 .author_text {
   font-family: "Space Mono", monospace;
   font-size: 46px;
   padding-left: 5%;
 }


 /* Unvisited link */
 a:link {
   color: lightgreen;
   text-decoration: none;
 }

 a:visited {
   color: green;
   text-decoration: none;
 }

 a:hover {
   color: green;
   text-decoration: underline;
 }

 a:active {
   color: darkgreen;
   text-decoration: underline;
 }

 .home {
   border: 1px solid black;
   background-color: #050504;
   overflow: auto;
   display: flex;
   flex-wrap: wrap;
 }

 .half {
   flex-basis: 100%;
 }

 @media screen and (min-width: 1200px) {
   .half {
     flex-basis: 50%;
   }
 }

 .author_picture {
   max-width: 400px;
   height: auto;
   padding: 10px;
 }

 img {
   display: block;
   margin: auto;
 }


 .form {
   background-color: #050504;
   background-size: 100px;
   border-radius: 25px;
   padding: 10px;
   margin: 10px;
 }

 #fullname,
 #phoneNumber,
 #email,
 #subject,
 #message {
   width: 90%;
 }

 .menu_container {
   overflow: hidden;
   background-color: #343434;
   position: relative;
 }

 .menu_container #myLinks {
   display: none;
 }

 .menu_container a {
   color: white;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
   display: block;
 }

 .menu_container a.icon {
   background: black;
   display: block;
   position: absolute;
   right: 0;
   top: 0;
 }

 .menu_container a:hover {
   background-color: #ddd;
   color: black;
 }

 .active {
   background-color: #212020;
 }

 footer {
   text-align: center;
   margin: 25px;
 }